<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <authentication mode="Forms" />
      <roleManager enabled="true" />
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k183_s14_g3;&#xD;&#xA;         Persist Security Info=True; User ID=6k183_s14_g3; Password=SDDgroup3!"
                                                                                />
    <add name="cs_SLPL" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k183_s14_g3;&#xD;&#xA;         Persist Security Info=True; User ID=6k183_s14_g3; Password=SDDgroup3!"
                                                                                providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
